@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    box-sizing: border-box
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    height: 100%;
}

#content canvas {
    width: 100%;
    height: auto;
}

#sidebar {
    flex-shrink: 0;
    overflow: hidden;
    width: 35em;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#sidebar canvas {
    width: auto;
    height: 100%;
}

#sidebar > * {
    flex: 1 auto;
    height: 30%;
    flex-shrink: 0;
    overflow: hidden;
    padding: 0 0 0 2em;
}

#sidebar > .status {
    height: 30%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.status section {
    margin-bottom: 1em;
}

.status section p {
    margin: 0;
    font-size: 2.2em;
}

.status section label {
    font-size: 1.3em;
}

.hidden {
    display: none;
    visibility: hidden;
}
